.options-list {
  --horizontal-padding: var(--gutter-size);
  --vertical-padding: calc(var(--pixel-size) * 2);

  padding: var(--border-size);
  padding-bottom: calc(var(--caret-size) + var(--border-size));

  header {
    padding: var(--vertical-padding) var(--horizontal-padding);
  }

  dl {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    dd, dt {
      padding: var(--vertical-padding) var(--horizontal-padding);
    }

    input {
      text-align: right;
    }

    :nth-child(even) {
      justify-self: right;
    }
  }
}
